.navbar-nav > li {
	font-size: 34px;
	padding-left: 25px;
	padding-right: 25px;
}

.center {
	text-align: center;
}

#about {
	display: block;
	padding-left: 500px;
	padding-right: 500px;
}

#nav-logo {
	height: 75px;
}


.card {
	display: inline-block;
	/* justify-content: center; */
	align-items: center;
	padding: 20px;
	margin:50px;
	background-color: gray;
	width: 250px;
	height: 400px; 
	border-radius: 25px;
	transition: all 0.2s ease-in-out;
	font-size: 40px;
}

.card:hover {
	/* background-color: #c7c7c7; */
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}


.card > img {
	object-fit: contain;
	overflow: hidden;
}



.flex-container {
	display: flex;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
	height: 400px;
}

.menu-flex-container {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	height: 100%;
}


/* Add this class to any items used for ordering (things like toppings) so that jQuery can tell when they are clicked on  */
/* and handle orders properly */
.item {
	
}

.add-to-cart-bagel {
	
}

.add-to-cart-donut {
	
}

.add-to-cart-croissant {
	
}

.add-to-cart-sandwich {
	

}

.drop{
	display: none;
	/* display: inline-block; */
	margin-left: 10px;
	margin-right: 10px;
}

.col{
	display: inline-block;
	width: 20%;
	margin-right:5%;
	margin-left:5%;
}

.tiny {
	font-size: 20px;
}

.menu-item {
	width: 20%;
	height: 100%;
	display: inline-block;
}


.menu-item > img {
	width: 80%;
	border: 2px solid black;
	border-radius: 5px;
}

.checkout > label {
	font-size: 40px;
}

.final-checkout {
	position: relative;
	bottom: 100px;
	text-align: center;
	border: none;
	width: 25%;
}

.btn {
	margin-bottom: 1%;
}
